.header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 30px;
  text-align: left;
  font-size: 20px;
  background: rgb(220,220,220);
  border-bottom: 1px solid #000;
  font-weight: 400;
}